
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>KISSG - At your service</title>
</head>
<body style="overflow:hidden">
    <div style="height:100vh; text-align: center; color:white; background-image:url(http://3.bp.blogspot.com/-VyrWLqXDRdM/WKIXcIQVSYI/AAAAAAAADjk/j-2-j_fxsEU4DjYVJzGuYb5iasFkpP__gCHM/s1600/cool-abstract-background-hd-desktop-wallpaper-high-definition.jpg); background-repeat:no-repeat; background-size: cover">
   
    @Html.ActionLink("Create Welcome site", "WelcomeTemplate" , "Generator" , 
    null, new { @class="btn btn-outline-dark btn-lg", @style="position: absolute; top:50%"})
    </div>
</body>
</html>
